#content, html, body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    height: 100%;
}

/* columns setup */
#menu-left {
    float: left;
    text-align: center;
    width: 12%;
    background: #C6EBF0;
    height: 100%;
    overflow: scroll;
    border-right: 1px solid #999;

}
#list {
    float: left;
    width: 27%;
    background: white;
    height: 100%;
    overflow: scroll;
    border-right: 1px solid #999;

}

#details {
    float: left;
    width: 60%;
    background: white;
    height: 100%;
    overflow: scroll;
}

ul, li {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
}

button:focus {outline:0;}

.btn {
  border: none; /* Remove borders */
  cursor: pointer; /* Add a pointer cursor on mouse-over */
  background-color: inherit;
  color: #666666;
  text-align: center;
  padding-top: 80px;
  width: 100%;
  height: 120px;
}

.active {    
  color: #99999;
  background-color: #EDF1F4;
}

.people{
  background-image: url('../img/people.png');
  background-repeat: no-repeat;
  background-position: center; 
  background-size: 40px 40px;

}

.star{
  background-image: url('../img/star.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px 40px; 
}

/* contact list */

li.list-item{
  color: #666;
  padding: 6px;
  height: 30px;
  vertical-align: middle;
}    

li.list-item:nth-child(odd) {
    background-color: #DDD;
}
li.list-item:nth-child(even) {
    background-color: #FFF;
}

/* search input field */
input[type=text].search {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    background-image: url('../img/search.png');
    background-position: 10px 5px; 
    background-repeat: no-repeat;
    padding: 6px 20px 6px 40px;
    margin: 10px;
    width: 95%;
}

/* bottom menubar */
.menubar {
    background-color: #666;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: inherit;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.menubar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


/* Icons */

.icon {
  background-image: url('../img/Elements.png');
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.icon-people {
  background-position: -108px -345px;
}

.icon-star1 {
  background-position: -175px -345px;
}

.icon-plus {
  background-position: -237px -345px;
}

.icon-times {
  background-position: -390px -345px;
}

.icon-upload {
  background-position: -460px -345px;
}

.icon-check {
  background-position: -527px -345px;
}

.icon-phone {
  background-position: -108px -462px;
}

.icon-pencil {
  background-position: -175px -462px;
}

.icon-mail {
  background-position: -237px -462px;
}

.icon-star2 {
  background-position: -390px -458px;
}

.icon-star3 {
  background-position: -460px -458px;
}

.icon-right {
  background-position: -527px -458px;
}

.people-lg {
  background-image: url('../img/people.png');
  background-repeat: no-repeat;
  width: 64px;
  height: 64px;
}

.star-lg {
  background-image: url('../img/star.png');
  background-repeat: no-repeat;
  width: 64px;
  height: 64px;
}

/* detail page style */
table.details {
  margin: 20px;
  border-collapse: collapse;
}


tr.hr {
  border-bottom: 1px solid #999;
}


th {
  color: #999;
  font-weight: normal;
  text-align: right;
  vertical-align: text-bottom;
  padding-bottom: 15px;
}

td {
  color: #666;
  vertical-align: text-bottom;
  font-size: 30px;
  padding: 15px 0px 15px 20px;
}

td.clear { 
  color:#999; 
}

td.name {
  vertical-align: middle;
}

/* photo */
.circle-sm {
  background: #C6EBF0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
  display: inline-block;
}

.circle {
  background: #C6EBF0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  vertical-align: middle;
  display: inline-block;
}


